<ion-view title="Dashbord-elev">
    <ion-content overflow-scroll="true" padding="true" class="has-header" style="background-color: #f1f4ed">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Skole {{skole.name}}</h2>
                <p>elevnavn {{elev.username}}</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item href="#/elevtabs/sykmelding">Sykmelding</ion-item>
            <ion-item ui-sref="login">Logg ut</ion-item>
        </ion-list>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>
