<ion-view title="Lekser påminnelse">
    <ion-content padding="true" class="center" style="background-color: #f1f4ed">
        <form class="list"  style="width: 330px;">
            <label class="item item-input">
                <span class="input-label">Melding</span>
                <textarea ng-model="larer.melding "placeholder="Skriv melding her" style="margin-right: 70px"></textarea>
            </label>
        </form>
        <form class="list">
            <label class="item item-select">
                <span class="input-label" ng-model="list_klasse">Velg klasse</span>
                <select>
                    <option value="">Velg klasse</option>
                    <option value="{{list_klasse.option1}}">Option 1</option>
                </select>
            </label>
        </form>
        <div class="spacer" style="height: 10px;"></div>
            <a ui-sref="tabsteacher.dashbord2" class="button button-balanced button-block ">Send</a>
            <a ui-sref="tabsteacher.dashbord2" class="button button-assertive button-block ">Avbryt</a>
    </ion-content>
</ion-view>
