<ion-view title="Lekseplan">
    <ion-content overflow-scroll="true" padding="true" class="has-header" style="background-color: #f1f4ed">
      <div class="list card">

        <div class="item">
          <h2>Superman {{larer.username}}</h2>
          <p>8 april 2016 {{larer.dato}}</p>
        </div>
        <div class="item item-body">
          <p>
            {{larer.melding}}
            Lekser til i morgen: les side 20-25.
          </p>
        </div>

      </div>
    </ion-content>
</ion-view>
