<ion-view title="Login">
    <ion-content class="center" padding="true" style="background-color: #f1f4ed; text-align: center;">
        <h3>Hvem er du?</h3>
        <div class="spacer" style="height: 50px"></div>
        <a ui-sref="loginLRer" class="button button-balanced button-block icon-right ion-log-in" style="width: 270px">Lærer</a>
        <a ui-sref="loginStudent" class="button button-stable button-block icon-right ion-log-in" style="width: 270px">Elev</a>
    </ion-content>
</ion-view>
