<ion-view title="SOS">
    <ion-content class="center" style="background-color: #f1f4ed;">
    <a href="tel:110" class="button button-block icon-right ion-fireball" style="width:270px;">Brann</a>
    <button class="button button-block icon-right ion-android-hand" style="width:270px; margin-top: 20px;">Innbrudd</button>
    <button class="button button-block icon-right ion-android-alert" style="width:270px; margin-top: 20px;">Bevaæpnet person(er)</button>
    <button class="button button-block icon-right ion-android-warning" style="width:270px; margin-top: 20px;">Urolighet (uro blant elever)</button>
  </ion-content>
</ion-view>
